<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ArticleDataDbEntities" connectionString="metadata=res://*/ArticleDataDbModel.csdl|res://*/ArticleDataDbModel.ssdl|res://*/ArticleDataDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dpd900\standard;Initial Catalog=ArticleDataDb;Persist Security Info=True;User ID=webaoe;Password=administrator;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
