<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connstr" connectionString="database=ArticleDataDb;server=WORKA11\CON;trusted_connection=true;"/>
  </connectionStrings>
  <appSettings>
    <add key="username" value="pbruni@denverpost.com"/>
  <add key="password" value="pr1ngles"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
