<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="pbruni"/>
    <add key="pwd" value="m5trUbRE"/>
  </appSettings>
  <connectionStrings>
    <!-- Test DataBase-->
    <add name="connstr" connectionString="database=ArticleDataDb;server=DPD900\SQLEXPRESS;user=webaoe;pwd=administrator;timeout=120;" />

    <!-- Live DataBase-->
    <!--<add name="connstr" connectionString="database=ArticleDataDb;server=172.16.13.28\zircon;Trusted_Connection=True;" />-->

  </connectionStrings>

</configuration>