<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="CSCode"/>
        <add directoryName="VBCode"/>
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
  </system.web>
  <appSettings>
    <add key="taxonomywords" value="20811 20819 20812 20814 20813 20815 20818 20816 20817"/>
    <add key="saxo_username" value="GNPortal-2"/>
    <add key="saxo_pwd" value="PhaCu9ap"/>
    <add key="saxo_category" value="MORE"/>
    <!-- Default category -->
    <add key="taxonomyword" value="10"/>
    <!-- Default taxonomyword -->
    <!--<add key="documents" value="c:\apps\ArticleDataServiceMigration\documents"/>-->
    <add key="documents" value="~\documents"/>
    <add key="temp" value="~\temp"/>
    <add key="ErrorLoggingLogToDB" value="True"/>
    <add key="ErrorLoggingLogToFile" value="false"/>
    <add key="ErrorLoggingLogFile" value="\ArticleDbViewer.log"/>
    <add key="ErrorLoggingLogToEventLog" value="False"/>
    <add key="ErrorLoggingEventLogType" value="ArticleDbViewer"/>
    <!-- unc image migration path below-->
    <add key="uncUser" value="mjacobsen"/>
    <add key="uncPwd" value="Mj4c0bs3n"/>
    <add key="uncDomain" value="mntech"/>
    <add key="ImageUrl" value="http://extras.mnginteractive.com/" />
    <add key="uncBasePath" value="\\atgweb\Extras" />
    <!-- add flag to not use unc path for web site dMZ will not mount share Barf or Dot 04.25.2013-->
    <add key="useUNC" value="N"/>

  </appSettings>
  <connectionStrings>
    <add name="connstr" connectionString="database=ArticleDataDb;server=mng-cc-sql.medianewsgroup.com;user=mjacobsen_ssa;pwd=Mj4c0bs3n"/>
    <add name="_connectionkey" connectionString="database=Authentication;server=mng-cc-sql.medianewsgroup.com;user=mjacobsen_ssa;pwd=Mj4c0bs3n"/>
    <!--<add name="ArticleDataDbEntities0" connectionString="metadata=res://*/App_Code.ArticleDataDb.csdl|res://*/App_Code.ArticleDataDb.ssdl|res://*/App_Code.ArticleDataDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dpd900\sqlexpress;Initial Catalog=ArticleDataDb;Persist Security Info=True;User ID=webaoe;Password=administrator;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="ArticleDataDbEntities" connectionString="metadata=res://*/ArticleDataDbModel.csdl|res://*/ArticleDataDbModel.ssdl|res://*/ArticleDataDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mng-cc-sql.medianewsgroup.com;Initial Catalog=ArticleDataDb;Persist Security Info=True;User ID=mjacobsen_ssa;Password=Mj4c0bs3n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--Qa0 -->
    <add name="livee_11Entities" connectionString="metadata=res://*/Db2EditModel.csdl|res://*/Db2EditModel.ssdl|res://*/Db2EditModel.msl;provider=IBM.Data.DB2;provider connection string=&quot;Database=livee_11;User ID=ngps;Password=Q&amp;jU4At3ek;Server=10.148.16.93:55100;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
