<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db2DataSet.Properties.Settings.livee_11ConnectionString" connectionString="Database=livee_11;User ID=ngps;Password=Q&amp;jU4At3ek;QueryTimeout=0;Server=10.148.24.115:55100" providerName="IBM.Data.DB2"/>
        <add name="db2DataSet.Properties.Settings.livee_11ConnectionString1" connectionString="Database=livee_11;User ID=ngps;Password=Q&amp;jU4At3ek;QueryTimeout=0;Server=10.148.24.115:55100" providerName="IBM.Data.DB2"/>
        <add name="db2DataSet.Properties.Settings.livee_11ConnectionString2" connectionString="Database=livee_11;User ID=ngps;Password=Q&amp;jU4At3ek;QueryTimeout=0;Server=10.148.24.115:55100;Persist Security Info=True" providerName="IBM.Data.DB2"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
